# Ignore composer.lock file (only commit composer.json)
composer.lock

# Ignore vendor directory (composer dependencies)
/vendor/

# Ignore the .env file (contains sensitive information)
.env

# Ignore any Docker-related files or directories
/docker/mysql

# Ignore images & other stored data
/public/storage